loki:
  auth_enabled: false

  replicaCount: 1
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi

  storage:
    type: filesystem
    filesystem:
      directory: /data/loki

  schemaConfig:
    configs:
      - from: 2020-10-24
        store: boltdb-shipper
        object_store: filesystem
        schema: v11
        index:
          prefix: index_
          period: 24h

persistence:
  enabled: true
  size: 2Gi
  accessModes:
    - ReadWriteOnce

promtail:
  enabled: true
