version: '3.8'
services:
  db:
    image: mariadb:11
    environment:
      MYSQL_ROOT_PASSWORD: Nanachou17
      MYSQL_DATABASE: wordpress
      MYSQL_USER: anna
      MYSQL_PASSWORD: Nanachou17
    volumes:
      - db_data:/var/lib/mysql

  wordpress:
    build: .
    ports:
      - "8080:80"
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: anna
      WORDPRESS_DB_PASSWORD: Nanachou17
      WORDPRESS_DB_NAME: wordpress
    depends_on:
      - db

volumes:
  db_data:
